.body{
   
    font-family: "Datatype", monospace;
     color:rgb(186, 206, 255); 
    font-weight:bold;   text-shadow:1px 1px black;
    background-color:black;
}

.text{
   
    text-align:center;
    

   
}

.btn{
    display:flexbox;
    justify-content:center;
     color:rgb(54, 107, 242); 
    padding:6px 12px;
    background-color:white;
    border:0px;
    padding:10px;
    font-family: "Datatype", monospace;
    font-weight:800;
    text-shadow:1px 0px black;
}

.ul
{
    border-bottom:2px solid white;
}


.logo{
    display:block;
    margin-left:auto;
    margin-right:auto;
    width:200px;
    height:100px;
}
#hero{
 background-image:url("https://media4.giphy.com/media/v1.Y2lkPTc5MGI3NjExaGp2M24wNmp3cnA5cXo5ODd6bXE5NnJsbW5sbjZnMmpkcjFxN2hmNCZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/iicDrNGWxHmDrIni6j/giphy.gif");
    background-size:cover;
    height:500px;
    padding: 10px 0 40px 0;
}